body{ font-size: medium; color: rgb(255, 255, 255);
    background-color: black;
    font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;}
header{ text-align: center;}
img{ border: center;}
h1 h2 h3{font-size: 78px;}
p{ font-size: 15px;}
