
body{ font-size: medium; color: rgb(255, 255, 255);
    background-color: black;
    font-family: montserrat;}
header{ text-align: center;}
img{ border: 10px, 10px ;}
h1 h2 h3{font-size: 78px;}
p{ font-size: 15px;}